* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Anonymous Pro', monospace;
    overflow: hidden;
}

main {
    /* background-color: #e7b05d; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 10%;
}

canvas {
    position: absolute;
    bottom: 0;
    /* width: 100%; */
    /* height: 30%; */
}

.info {
    display: flex;
    flex-direction: column;
    width: 210%;
    height: 100%;
}

.info > p, a, div {
    margin: 1rem;
}

p#name {
    font-size: 2rem;
}

#arrow {
    margin-left: 1rem;
    opacity: 0;
}

.paste {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-template-rows: min-content min-content;
}

.paste:hover {
    cursor: pointer;
}

.paste_links {
    flex-direction: column;
    grid-column: 2;
    margin: 0;
    display: flex;
    opacity: 0;
}

.visible1 {
    display: block !important;
}

.visible2 {
    display: flex !important;
}

.paste_links::before:hover {
    cursor: pointer;
}

a {
    width: fit-content;
    text-decoration: none;
    color: black;
    transition: all 0.4s ease-in-out;
}

a:hover {
    cursor: pointer;
    text-decoration: black underline;
}

img {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 15vw;
}

footer {
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translateX(50%);
    opacity: 0.4;
}